<div class="search-flow_dropdown__arrow"></div>
<div class="search-flow_dropdown">
{{#if this.hasNoOption}}
	{{#unless @isLoading}}
		<div class="search-flow_dropdown-no-results">
			No Results...
		</div>
	{{/unless}}
{{else}}
	{{#each @options as |option|}}
		<div 
			class="search-flow_dropdown-option{{if option.isActive ' search-flow_dropdown-option-active'}}"
			role="button"
			{{on "click" this.optionClicked}}
			{{on "mouseenter" (fn this.optionHovered option)}}
		>
			{{option.title}}
		</div>
	{{/each}}
{{/if}}
</div>
{{#if @isLoading}}
	<div class="search-flow_dropdown-option search-flow_dropdown-option-loading">
		Loading...
	</div>
{{/if}}
{{yield}}
