<div class="search-flow_input-dropdown-wrapper" {{did-insert this.setupInput}}>
	<Input
		class="search-flow_input"
		@value={{this.value}}
		placeholder={{@placeholder}}
		{{on "input" this.updateValue}}
		{{on "focusout" this.inputBlurred}}
		{{on "focusin" this.inputFocused}}
		{{on "keydown" this.inputKeyDown}}
		{{on "keyup" this.inputKeyUp}}
	/>
	{{#if @filter.isFocused}}
		<SearchFlow::Dropdown
			@options={{this.availableOptions}}
			@activeOption={{this.activeOption}}
			@isContains={{@filter.isContains}}
			@isLoading={{this.isLoading}}
			@selectOption={{this.selectOption}}
		/>
	{{/if}}
</div>