<div class="search-flow_input-dropdown-wrapper" {{on "click" this.wrapperClicked}} {{on "mousedown" this.wrapperMouseDown}}>
	<span class="search-flow_input-inner-wrapper">
		<Input
			class="search-flow_input"
			@value={{this.value}}
			placeholder={{@placeholder}}
			{{did-insert this.registerInput}}
			{{on "input" this.updateValue}}
			{{on "focusout" this.inputBlurred}}
			{{on "focusin" this.inputFocused}}
			{{on "keydown" this.inputKeyDown}}
			{{on "keyup" this.inputKeyUp}}
		/>
	</span>
	{{#if this.isFocused}}
		<SearchFlow::Dropdown
			@options={{this.availableOptions}}
			@activeOptionIndex={{this.validActiveOptionIndex}}
			@isContains={{@filter.isContains}}
			@isLoading={{this.isLoading}}
			@selectOption={{this.selectOption}}
			@setActiveOption={{this.setActiveOption}}
		/>
	{{else if @isParameterSelection}}
		<SearchFlow::Dropdown
			@options={{this.availableOptions}}
			@activeOptionIndex={{this.validActiveOptionIndex}}
			@isContains={{@filter.isContains}}
			@isLoading={{this.isLoading}}
			@selectOption={{this.selectOption}}
			@setActiveOption={{this.setActiveOption}}
		/>
	{{/if}}
</div>
