<div class="search-flow_queries">
	{{#each filters as |filter|}}
		<div class="search-flow_search-query">
			<div class="search-flow_title">
				{{filter.parameter.title}} : 
			</div>
			<div class="search-flow_value">
				{{search-flow/input-dropdown
					remoteFiltering=filter.parameter.remoteOptions
					options=filter.parameter.options
					placeholder=filter.parameter.placeholder
					filter=filter
					inputBlurred=(action 'inputBlurred')
				}}
			</div>
			<div class="search-flow_remove" {{action 'removeFilter' filter}}></div>
		</div>
	{{/each}}
	{{#if isSelectingParameter}}
		<div class="search-flow_parameter_input">
			{{search-flow/input-dropdown
				options=availableParameters
				localFiltering=true
				isParameterSelection=true
				didHitEnter=didHitEnter
				inputBlurred=(action 'inputBlurred')
				newFilter=(action 'newFilterWithParameter')
			}}
		</div>
	{{/if}}
	{{#if availableParameters.length}}
		<button class="search-flow_add{{unless canAddNewFilter ' search-flow_add-hidden'}}" {{action 'newFilter'}}>
			Add Filters
		</button>
	{{/if}}
</div>
<div class="search-flow_parameters">
	{{#each availableParameters as |parameter|}}
		<div class="search-flow_parameter" {{action 'newFilterWithParameter' parameter}}>
			{{parameter.title}}
		</div>
	{{/each}}
</div>
{{yield}}
